body { 
	/*font-family: "Poppins", sans-serif;*/
	/* font-family: "Nunito Sans", Arial, sans-serif; */
}

.text-rumahdev {
	color: darkcyan;
}

.rumahdev-color {
  color: transparent;
  background: linear-gradient(135deg, #005a70 0%, #00a987 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.rumahdev-bg {
  background: #005a70;
  background: linear-gradient(135deg, #005a70 0%, #00a987 100%);
}

.rumahdev-btn { 
  color: #ffffff; 
  background-color: #00a987; 
  border-color: #005a70; 
} 